<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeInventory</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="/assets/main.css" rel="stylesheet"/>
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet"/>
</head>
<body>
<h1 class="text-3xl font-bold underline">
    Hello HomeInventory!
</h1>
<ul>
    {% for location in locations %}
    <li>{{ location.name|e }} -  {{ location.description|e }}</li>
    {% endfor %}
</ul>
</body>
</html>
